*,
::after,
::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  font-size: 14px;
}

/* Main content styles */
.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.btn{
  border: none;
  background-color: #4cb677;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 20px 45px;
  border-radius: 5px;
  line-height: 1.1;
  cursor: pointer;
  transition: background .2s ease;
}
.btn:hover{
  background-color: #118f43;
}
.section{
  padding: 110px 0;
}
.section--gray{
  padding: 60px 0;
  background-color: #f6f6f9;
}


/* Header */
.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  align-items: center;
}
.header__logo{
  font-weight: 700;
  font-size: 22px;
  
}
.header__logo a {
  color: #fff;
  text-decoration: none;
}

.header__nav__link{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-right: 40px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.header__nav__link::after{
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  transform: translateY(0);
  transition: opacity .1s ease, transform .1s ease;
}

.header__nav__link:hover::after{
  opacity: 1;
  transform: translateY(5px);
}

.header__nav__link:last-child{
  margin-right: 0;
}
.header__nav__link img{
  vertical-align: middle;
}


/* intro */

.intro{
  height: 900px;
  background: #6c6e7d url("img/header/header-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro__title{
  width: 75%;
  font-weight: 600;
  font-size: 72px;
  color: #fff;
}

/* Stroy */
.story__inner{
  display: flex;
  
}
.story__item{
  width: 50%;
  
}
.story__item--img{
  width: 50%;
}
.story__item--img img{
  margin-left: 100px;
  display: block;
  width: 100%;
  height: auto;
}
.story__title{
  color: #3b3a52;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 70px;
}
.story__subtitle__item{
  font-size: 16px;
  font-weight: 400;
  color: #3b3a52;
  margin-bottom: 45px;
  padding-right: 50px;
  text-align: left;
}
.story__item--title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.story__link{
  margin-top: 85px;
}
.story__link a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #4cb677;
  position: relative;
}
.story__link a::after{
  
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  right: -10%;
  top: 29%;
  
  opacity: 0;
  transition: transform .1s ease-in, opacity .1s linear, border .1s ease;
}
.story__link a:hover::after{
  opacity: 1;
  transform: translate(15px, 0) rotate(45deg);
  border-top: 1px solid #118f43;
  border-right: 1px solid #118f43;
}
.story__link a:hover{
  color: #118f43;
}


/* Section inner*/
.section__inner{
  text-align: center;
  margin: 0 auto 60px;
  max-width: 600px;
}
.section__title{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 26px;
  color: #3b3a52;
}
.section__subtitle{
  font-weight: 500;
  font-size: 14px;
  color: #3b3a52;
}

/* why ASS */
.why__inner{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.why__item{
  width: 27%;
}
.why__title{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #252837;
}
.why__subtitle{
  font-weight: 400;
  font-size: 14px;
  color: #252837;
}


/* News */
.news__inner{
  display: flex;
  justify-content: space-between;
}
.news_item{
  width: 48%;
  padding: 90px;
  background: #0a0e23 url("img/news/1.jpg") no-repeat 50% 50%;
  background-size: cover;
  min-height: 600px;
  height: 100%;
  border-radius: 7px;
  cursor: pointer;
  transition: transform .2s ease;
}
.news__btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  position: relative;
  transition: background .2s ease, transform .2s ease, border .1s linear;
}
.news__btn:hover{
  background-color: #48c078;
  transform: scale(1.05);
  border: 1px solid #fff;
}
.news__btn::after{
  content: "";
  position: absolute;
  left: 45%;
  top: 39%;
  border: 7px solid transparent;
  border-left: 10px solid black;
  transition: transform .2s ease;
}
.news_item:hover{
  transform: scale(1.01);
}
.news__item__btn{
  margin-bottom: 200px;
}
.news__item__suptitle{
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
  color: #fff;
}
.news__item__suptitle span{
  padding-right: 15px;
}
.news__item__title{
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  line-height: 1.4;
  margin-top: 30px;
}
.news__item--second{
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.news__item--second:hover{
  transform: none;
}
.new__item__one{
  height: 50%;
  background: #74707c url("img/news/2.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding: 80px 80px 60px 80px;
  transition: transform .2s ease;
}
.news__item--hover{
  border-radius: 7px;
}
.news__item--hover:hover{
  transform: scale(1.01);
}
.news__item__two{
  background: #3b3a52;
  background-size: cover;
  height: 50%;
  padding: 80px 80px 60px 80px;
  transition: transform .2s ease;
}
.news__item__title--second{
  font-size: 22px;
}

/* Achivs */
.section--green{
  background-color: #21a657;
}
.achivs__inner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.achivs__item{
  text-align: center;
  color: #fff;
  margin-right: 200px;
}
.achivs__item:last-child{
  margin-right: 0;
}
.achivs__number{
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
}
.achivs__subtitle{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/* fans */
.fans__inner{
  width: 82%;
  margin: 0 auto;
}
.fans__content{
  padding: 0 145px;
  position: relative;
  margin-bottom: 35px;
}
.fans__photo{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}
.fans__photo--reverse{
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}
.fans__comment{
  background-color: #f2f2f5;
  padding: 30px 50px 30px 35px;
  border-radius: 5px;
  position: relative;
}
.fans__comment::after{
  content: "";
  position: absolute;/* DOLBAYOB */
  left: 0;
  top: 0;
  transform: translate3d(-100%, 50%, 0);
  border: 10px solid transparent;
  border-right: 20px solid #f2f2f5;
}


.fans__content--reverse{
  position: relative;
}
.fans__photo__reverse{
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}
.fans__comment__reverse{
  background-color: #f2f2f5;
  padding: 30px 50px 30px 35px;
  border-radius: 5px;
  position: relative;
}
.fans__comment__reverse::after{
  content: "";
  position: absolute;/* DOLBAYOB */
  right: 0;
  top: 0;
  transform: translate3d(100%, 50%, 0);
  border: 10px solid transparent;
  border-left: 20px solid #f2f2f5;
}

/* Contast ASS */
.section--contactass{
  background: url("img/contact-us/bg31.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.contacts__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__content{
  width: 60%;
}
.contacts__button{
  width: 40%;
  text-align: right;
}
.contacts__title{
  font-weight: 600;
  font-size: 28px;
  color:#fff;
  margin-bottom: 45px;
}
.contacts__subtitle{
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

/* Team */
.team__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team__item{
  width: 23%;
  background-color: rgba(7, 6, 35, .9);
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
}
.team__photo{
  display: block;
  border-radius: 5px;
  width: 100%;
  height: auto;
  transition: opacity .1s ease;
}
.team__item:hover .team__photo{
  opacity: 0.2;
}
.team__item:hover .team__info{
  opacity: 1;
}
.team__info{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50% , 0);
  opacity: 0;
  transition: opacity .2s ease-in;
}
.team__name{
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.team__work{
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, .5);
}

/* Question */
.question__item{
  width: 50%;
  margin: 0 auto 15px;
  
}
.question__acordion__item{
  padding: 30px 40px;
  background-color: #f6f6f9;
  cursor: pointer;
  border-radius: 5px;
}
.question__acordion.active .question__acordion__content{
  display: block;
}
.question__acordion__header{
  color: #070623;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.question__acordion__header::after,
.question__acordion__header::before{
  position: absolute;
  content: "";
  right: 0;
  top: 14px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #070623;
  transition: transform .2s ease;
}
.question__acordion__header::before{
  transform: rotate(-90deg);
}
.question__acordion.active .question__acordion__header::after{
  transform: rotate(45deg);
}
.question__acordion.active .question__acordion__header::before{
  transform: rotate(-45deg);
}
.question__acordion__content{
  padding: 30px 40px;
  background-color: #f6f6f9;
  border-radius: 5px;
  padding-top: 10px;
  margin-top: -6px;
  display: none;
  color: #3b3a52;
  font-size: 16px;
  font-weight: 400;
}
/* Partners */
.partners__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__logo{
  opacity: .25;
  transition: opacity .2s ease;
}
.partners__logo:hover{
  opacity: 1;
}

/* subscribe */
.subscribe__item{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.subscribe__email{
  background: none;
  border: none;
  outline: none;
  width: 330px;
  height: 40px;
}

.subscribe__email::placeholder{
  font-weight: 500;
  font-size: 28px;
  color: rgba(7, 6, 35, .2);
  text-align: center;
  text-transform: uppercase;
}
.subscribe__email:focus::placeholder{
  opacity: 0;
}
input[class="subscribe__email"]{
  color: rgba(7, 6, 35, .5);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.subscribe__button{
  border: none;
  background: none;
  outline: none;
  font-weight: 700;
  font-size: 12px;
  color: #47859f;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 10px;
  cursor: pointer;
}

/* Footer */
.footer{
  padding: 85px 0 30px 0;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__item--link{
  display: flex;
}
.footer__nav{
  display: flex;
  flex-direction: column;
}
.footer__product,
.footer__company{
  margin-right: 90px;
}

.footer__title{
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #070623;
  margin-bottom: 30px;
}
.footer__link{
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #070623;
}
.footer__link:hover{
  text-decoration: underline;
}


.footer__email{
  width: 360px;
  height: 55px;
  border: 2px solid #ebebed;
  border-radius: 5px;
}
input[class="footer__email"]{
  padding-left: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #3b3a52;
  letter-spacing: 1px;
}
.footer__form{
  position: relative;
}
.footer__btn{
  position: absolute;
  right: 1%;
  top: 8%;
  padding: 15px 40px;
}

/* copyright */

.copyright{
  padding: 30px 0;
  border-top: 2px solid #f2f2f5;
  
}
.copyright__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__social{
  display: flex;
}
.copyright__social a{
  display: block;
  background-color: #f6f6f9;
  padding: 10px 17px;
  border-radius: 100%;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .2s ease;

}
.copyright__social a:last-child{
  margin-right: 0;
}
.fab{
  color: #000;
  transition: transform .2s ease;
}
.copyright__social a:hover{
  background-color: #ccccd1;
}
.copyright__social a:hover .fab{
  color: #4ab577;
  transform: scale(1.3);
}

/* MEDIA */

@media (max-width: 990px){
  /* Header */
  .header__nav{
    display: none;
  }
  .header__btn{
    display: none;
  }
  /* intro */
  .intro{
    padding-top: 0px;
  }
  .intro__title{
    width: 100%;
    font-size: 60px;
    text-align: center;
  }
  /* Section */
  .section{
    padding: 70px 0;
  }
  /* Story */
  .story__title{
    margin-bottom: 40px;
  }
  .story__subtitle__item{
    margin-bottom: 25px;
  }
  .story__link{
    margin-top: 35px;
  }
  .story__item--img img{
    margin-left: 30px;
    width: 80%;
  }
  .story__item--title{
    margin-left: 10px;
  }
  /* NEWS */
  .news__inner{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .news_item{
    width: 60%;
  }
  .news__item--second{
    
    justify-content:center
  }
  .new__item__one{
    margin-bottom: 20px;
  }
  /* Achivs */
  .achivs__inner{
    justify-content: center;
    flex-wrap: wrap;
  }
  .achivs__item{
    margin-right: 0;
    width: 60%;
    margin-bottom: 15px;
  }
  /* fans */
  .fans__content{
    padding: 0 100px;
  }
  /* Contact */
  .contacts__content{
    margin-left: 10px;
  }
  .contacts__button{
    margin-right: 10px;
  }
  /* Team */
  .team__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__item{
    width: 35%;
    margin-right: 15px;
  }
  /* Questions */
  .question__item{
    width: 70%;
  }
  /* Partners */
  .partners__inner{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .partners__item{
    width: 30%;
    margin-bottom: 15px;
  }
  /* footer */
  .footer__inner{
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .footer__item--link{
    width: 60%;
    margin-bottom: 30px;
  }
  .footer__item{
    margin-right: 15px;
  }
  .footer__title{
    margin-bottom: 20px;
  }
  /* copyright */
  .copyright__item{
    margin: 0 15px 0 15px;
  }
}

@media (max-width: 660px){
  /* intro */
  .intro__title{
    font-size: 45px;
  }
  /* story */
  .story__inner{
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
  }
  .story__item{
    width: 80%;
  }
  .story__item--img{
    width: 60%;
    margin-left: 10px;
  }
  .story__item--img img{
    margin-left: 0;
  }
  .story__item--title{
    order: 1;
  }

  /* whyASS */
  .why__inner{
    flex-wrap: wrap;
  }
  .why__img{
    text-align: center;
  }

  .why__img img{
    display: block;
    width: 100%;
    height: auto;
  }

  /* News */
  .news_item{
    width: 90%;
  }
  /* fans */
  .fans__content{
    padding: 0 70px;
  }
  .fans__photo{
    z-index: 1;
  }
  .fans__comment::after{
    transform: translate3d(-30%, 50%, 0);
  }
  .fans__photo__reverse{
    z-index: 1;
  }
  .fans__comment__reverse::after{
    transform: translate3d(20%, 50%, 0);
  }
  /* Contacts */
  .contacts__inner{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contacts__content{
    width: 80%;
    margin-bottom: 15px;
  }
  .contacts__button{
    text-align: center;
  }
  /* question */
  .question__acordion__header{
    font-size: 16px;
  }
  .question__acordion__content{
    font-size: 14px;
  }

  /* section */
  .section{
    padding: 40px 0;
  }
  /* footer */
  .footer__item--link{
    width: 73%;
  }


}

@media (max-width: 474px) {
  /* Story */
  .story__item{
    width: 100%;
  }
  .story__item--img{
    width: 90%;
  }
  .story__link{
    margin-top: 0;
  }
  /* WHY */
  .why__item{
    width: 55%;
    margin-bottom: 15px;
  }
  /* News */
  .news_item{
    width: 100%;
    margin-bottom: 15px;
  }

  /* Fans */
  .fans__inner{
    margin: 0;
    width: 100%;
  }
  .fans__title{
    line-height: 1.3;
    font-size: 12;
  }

  /* Team */
  .team__item{
    width: 65%;
  }
  /* question */
  .question__item{
    width: 95%;
  }
  /* partners */
  .partners__item{
    width: 80%;
    margin-bottom: 25px;
  }
  /* subscribe */
  .subscribe__item{
    width: 100%;
  }
  /* Footer */
  .footer__inner{
    justify-content: center;
  }
  .footer__item--link{
    width: 100%;
  }
  .footer__product, .footer__company{
    margin-right: 30px;
  }
  .footer__email{
    width: 300px;
  }
  .footer__btn{
    padding: 15px 20px;
  }
}




